langchain
langchain_community
langchain_core
langchain_groq
langchain_google_genai
langchain-text-splitters
langchainhub
langchain-huggingface
rich
google-generativeai
python-dotenv
streamlit
edge_tts
streamlit_mic_recorder
langchain_cohere
faiss-cpu
